/* Sidebar styles */
.sidebar {
  background-color: #eaeff5; /* Light background color */
  width: 200px; /* Width of the sidebar */
  height: 100%; /* Full height */
  position: fixed; /* Fixed position */
  margin-top: 5px;
  margin-left: 5px;
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  overflow-y: auto; /* Allow vertical scrolling */
  padding-top: 20px; /* Add some padding at the top */
  color: #333; /* Text color */
  font-family: Arial, sans-serif; /* Font family */
  border-radius: 20px; /* Border radius for soft edges */
  box-shadow: 5px 5px 15px #b8c0ca, 
             -5px -5px 15px #ffffff; /* Neumorphism box shadow */
}

.sidebar ul {
  list-style-type: none; /* Remove bullet points from the list */
  padding: 0; /* Remove default padding */
}

.sidebar li {
  margin-bottom: 10px; /* Add some spacing between list items */
}

/* Styling for sidebar links */
.sidebar a {
  font-size: 1.2rem;
  color: #333; /* Text color for links */
  text-decoration: none; /* Remove underline from links */
  display: block; /* Display block to take full width */
  padding: 10px; /* Add padding around links */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.sidebar a:hover {
  background-color: #d3d9e3; /* Lighter background color on hover */
}

/* Active link style */
.sidebar a.active {
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #f0f3f7 ; /* Slightly darker background color for active link */
  box-shadow: inset 2px 2px 5px #ffffff, 
              inset -2px -2px 5px #b8c0ca; /* Neumorphism effect for active link */
}
